*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em; text-align: center;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

button{
	font-size: 1.25em;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: white;
	background-color: blueviolet;
	align-items: center;
}

button:hover{ background-color: rgb(104, 32, 172);}

.container{
	max-width: 1400px;
	margin: auto;
}

.color-acento{color: blueviolet; }

header{
	background-color: rgb(230, 230, 230);
}

header .logo{
	margin: 0;
	padding: 25px 30px;
	font-weight: bold;
	color: blueviolet;
	font-size: 1.6em;
}

header .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header nav{
	display: flex;
	flex-direction: row;
	text-align: center;
	padding-bottom: 10px;
}

header a{
	padding: 30px 30px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 20px;
}

header a:hover{
	color: blueviolet;
}

.hero{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 30vh;
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url(media/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.hero h1{
	color: white;
}

#quienes-somos .container{
	text-align: center;
	padding: 80px 12px;
}

#nuestros-productos{
	color: blueviolet;
}

.ropa{
    height: 300px;
    background-color: rgb(230, 230, 230);
	margin: 5px;
}
 
#camisa{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url(media/camisas.jpg.crdownload);
	background-repeat: no-repeat;
	background-size: cover;
}

#remera{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url(media/remera.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#pantalon{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url(media/pantalones.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#zapato{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	)
	,url(media/zapatos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

footer{
	background-color: rgb(230, 230, 230);
	margin-top: 5px;
}

footer p{
	margin: 0px;
	padding: 10px;
	color: rgb(100, 100, 100);
}

footer .container{
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

@media (min-width: 720px){
	header{
		position: fixed;
		width: 100%;
	}

	header .container{
		flex-direction: row;
		justify-content: space-between;
	}

	header nav{
		flex-direction: row;
		padding-bottom: 0;
		padding-right: 20px;
	}

	.hero h1{
		font-size: 5em;
		padding-top: 70px;
	}

	#quienes-somos .container{
		display: flex;
		justify-content: center;
	}

	#quienes-somos .texto{
		width: 50%;
		text-align: initial;
		max-width: 800px;
		padding: 0px 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 100px;
	}

	#quienes-somos h2{
		margin-top: 0;
		text-align: center;
	}

	#quienes-somos p{
		text-align: center;
	}

	#quienes-somos .img-container{
		background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5))
		,url(media/ropa.jpg);
		background-size: cover;
		background-position: center center;
		height: 500px;
		width: 400px;
	}
}